

.box {
  background-color: lightgrey;
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}
.active{
  // background-color: aqua !important;
  
}

.west{
  background-image: url(./../../../assets/svg/robot-line-icon.svg);

  transform: rotate(90deg);
}

.north{
  background-image: url(./../../../assets/svg/robot-line-icon.svg);

  transform: rotate(180deg);
}

.east{
  background-image: url(./../../../assets/svg/robot-line-icon.svg);

  transform: rotate(270deg);
}
.south{
  background-image: url(./../../../assets/svg/robot-line-icon.svg);
  transition-timing-function: linear;
    transition-delay: 1s;
}

button{
  display: block;
  margin-top: 5px;
  position: relative;
  left: 220px;
}

div#commands{
  padding: auto;
  margin: auto;
  width: 50%;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px);
  grid-auto-flow: column;
  float: left;
}
div.container{
  width: 50%;
  padding: 10px;
  div.wrapper{
  }
 
}

.logs{
  overflow: scroll;
  max-height: 100px;
}