<div class="container">
  <div class="wrapper">
    <div class="box" *ngFor="let gr of arrGrid" 
    [class.north]="gr.activeDirection == 'north' && gr.isActive"
    [class.east]="gr.activeDirection == 'east' && gr.isActive"
    [class.west]="gr.activeDirection == 'west' && gr.isActive"
    [class.south]="gr.activeDirection == 'south' && gr.isActive"
    >
    </div>
  </div>
  
  <div id="commands">
    <select name="command" id="command" [(ngModel)]="selectedCommand">
      <option value="place">PLACE</option>
      <option value="move">MOVE</option>
      <option value="left">LEFT</option>
      <option value="right">RIGHT</option>

    </select>
    <input type="text" [disabled]="selectedCommand != 'place'" [(ngModel)]="id">
    
    <select name="direction" id="direction" [disabled]="selectedCommand != 'place'"  [(ngModel)]="selectedDirection">
      <option *ngFor="let opt of directions" [value]="opt.value">{{opt.label}}</option>
    
    </select>
    <button (click)="execute(id)">Execute</button>
    <button (click)="resetAll()">Reset</button>
  </div>


</div>
<div class="logs">
  <ul>
    <li *ngFor="let log of logs">{{log}}</li>
  </ul>
</div>
