

<!-- Toolbar -->
<!-- <div class="toolbar" role="banner"> -->
  <!-- <span>Welcome</span> -->
    <!-- <div class="spacer"></div>
     
</div> -->

{{checkEnv}}

<toy-robot-details></toy-robot-details>
<toy-robot-board></toy-robot-board>

<router-outlet></router-outlet>
